@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_ErrorLayout.cshtml";
}

    <div class="wrapper text-center m-auto">
        @if (Model.ShowRequestId) {
            <p>
                <strong class="text-white">Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

        <img src="~/img/@Model.StatusCode-dog.jpg" alt="Image of a very cute dog saying that some errors have ocurred during your navigation" />
        <br />
        <br />
        <a asp-controller="Home" asp-action="Index" class="btn btn-danger rounded-0 px-5">Let's go home</a>
    </div>
